.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid $border-color;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-logo {
    font-size: 24px;
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
  }

  .loader {
    width: 20px;
    height: 20px;
    border: 4px solid $primary-color;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
