.sidebar {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0.2, 0.2, 0.2);
}

.sidebar-section {
  margin-bottom: 20px;
}

.sidebar-image {
  width: 100%;
  border-radius: 10px;
}

.sidebar-divider {
  border: none;
  border-top: 1px solid $border-color;
  margin: 10px 0;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  color: $primary-text-color;
  margin-bottom: -10px;
}

.sidebar-author {
  font-size: 14px;
  color: $secondary-text-color;
  font-style: italic;
}

.sidebar-description-title {
  font-size: 16px;
  font-weight: bold;
  color: $primary-text-color;
  margin-bottom: 5px;
}

.sidebar-description {
  font-size: 14px;
  color: $secondary-text-color;
  font-style: italic;
}
