.podcast-detail {
  display: flex;

  .sidebar {
    width: 250px;
    background: #181818;
    padding: 20px;
    border-right: 1px solid #333;
  }

  .episodes {
    flex: 1;
    padding: 20px;
    color: #fff;
  }
}
